.fixed-price-bar {
    display: flex;
    justify-content: space-between;
    position: fixed;
    bottom: 0;
    z-index: 3;
    background-color: #f9faf7;
    width: 100%;
    box-shadow: 0 1px 10px #6a6a6a;
    max-width: 1600px;
}

.qunatity-cart-btn {
    display: flex;
    align-items: center;
}

.qunatity-cart-btn>div {
    margin-right: 20px;
}

.fixed-price-bar>div {
    border: 1px solid rgb(130, 130, 130);
    padding: 10px;
    width: 100%;
}

.product-quantity-tab {
    display: flex;
    align-items: center;
    border: 1px solid rgb(68, 68, 68);
    transform: skew(-20deg);
    border-radius: 3px;
    padding: 3px 8px;
    justify-content: space-between;
}

.quantity-box {
    width: 30px;
    text-align: center;
    border: none;
    font-size: 16px;
    font-family: "Kanit";
}

.icon-size {
    font-size: 14px !important;
}

.icon-size:hover {
    cursor: pointer;
}

.qunatity-cart-btn>button {
    background-color: #c0f73f;
    border: none;
    color: #343434;
    font-family: "Lato";
    font-weight: 600;
    transform: skew(-20deg);
    padding: 0px 15px;
    height: 40px;
    margin-left: 20px;
    border-radius: 5px;
}

.qunatity-cart-btn>button:hover {
    background-color: #a3da22;
    transition: 0.3s ease-in-out;
    box-shadow: 0 1px 10px #bcbcbc;
    cursor: pointer;
}

.size-btn {
    margin-right: 12px;
    background-color: rgb(219, 219, 219);
    border: none;
    padding: 10px;
    transform: skew(-20deg);
    border-radius: 5px;
}

.size-btn:hover {
    cursor: pointer;
    box-shadow: 0 1px 10px #858585;
}

.size-btn-active {
    background-color: #b0eb41;
    box-shadow: 0 1px 10px #bcbcbc;
    transition: 0.3s ease-in-out;
}

.price-bar-heading {
    font-size: 20px;
    font-family: "Jost";
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.fixed-bar-price {
    font-family: "Roboto Condensed";
    font-weight: 600;
    color: #434242;
    font-size: 20px;
    margin-bottom: 15px;
}

.fixed-bar-price span {
    font-family: "Lato";
    font-weight: 500;
    color: #656464;
    font-size: 12px;
}